<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PROJECTTEAMD</display-name>
  <welcome-file-list>
    <welcome-file>/JSP/Login.jsp</welcome-file>
   
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AccountController</display-name>
    <servlet-name>AccountController</servlet-name>
    <servlet-class>com.controller.AccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountController</servlet-name>
    <url-pattern>/AccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CashierController</display-name>
    <servlet-name>CashierController</servlet-name>
    <servlet-class>com.controller.CashierController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CashierController</servlet-name>
    <url-pattern>/CashierController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerController</display-name>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>com.controller.CustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>3</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>com.Exception.ServiceLayerException</exception-type>
    <location>/JSP/ERRORPAGE.jsp</location>
  </error-page>
  <error-page>
    <exception-type>com.Exception.DataLayerException</exception-type>
    <location>/JSP/ERRORPAGE.jsp</location>
  </error-page>
</web-app>